@use "../../../../../styles/main.scss" as *;

.search__container {
  display: flex;
  align-items: center;
  width: 100%;

  .search__alphabet {
    padding: rem(12);
    margin: 0 rem(12) 0 0;
  }

  .search {
    width: 100%;
  }
}

input {
  margin: 0;
  padding: rem(8) rem(12);
}

.search__button {
  margin: 0 0 0 rem(8);
  padding: rem(12) rem(16);
  background: color(light-sec);
  color: color(primary);

  &:hover:enabled {
    background: color(middle);
  }
}
