<table *ngIf="battles; else noBattles">
  <thead>
    <tr>
      <th (click)="sortByData()">Battle date and time</th>
      <th (click)="sortByHero()">Hero name</th>
      <th (click)="sortByEnemy()">Opponent name</th>
      <th (click)="sortByState()">Battle result</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let battle of battles">
      <td>{{ battle.date | date: 'short' }}</td>
      <td [routerLink]="['/home', 'hero', battle.hero.id]">{{ battle.hero.name
        }}</td>
      <td [routerLink]="['/home', 'hero', battle.enemy.id]">{{ battle.enemy.name
        }}</td>
      <td>{{ battle.status | uppercase }}</td>
    </tr>
  </tbody>
</table>

<ng-template #noBattles>
  <p>You haven't ever fight</p>
</ng-template>
