@use "../../../styles/main.scss" as *;

:host {
  display: block;
  background: color(dark);
  width: 100vw;
  height: 100vh;
}

header {
  padding: rem(16) rem(24);
  background: color(light);
  display: flex;
  justify-content: space-between;
}

.logo {
  width: rem(48);
}

main {
  margin: rem(48) rem(120);
}
