@use "../../../../../styles/main.scss" as *;

.power__container {
  position: relative;
  margin: rem(16) 0;
  padding: rem(24);
  border: rem(1) solid color(light-sec);
  border-radius: rem(6);
  display: flex;

  img {
    width: rem(240);
    margin: 0 rem(16) 0 0;
    border-radius: rem(4);
  }

  h3 {
    margin: 0 0 rem(8);
  }
}

.power__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.disabled {
  opacity: 0.7;
}
