<div class="container" *ngIf="isNew; else signin">
  <h2>sign up</h2>


  <app-sign-up></app-sign-up>
  <button class="button button_sec" (click)="toggle()">Sign In</button>
</div>

<ng-template #signin>

  <div class="container">
    <h2>sign in</h2>
    <div class="message message_error" *ngIf="auth.errors$ | async as error">
      <span>ⓧ</span><small>{{error}}</small>
    </div>

    <div class="message message_warning" *ngIf="!!message">
      <span>⚠</span><small>{{ message }}</small>
    </div>


    <app-sign-in></app-sign-in>
    <button class="button button_sec" (click)="toggle()">Create new
      account</button>
  </div>

</ng-template>
