@use "../../../../../../../styles/main.scss" as *;

span {
  display: inline-block;
  padding: rem(4) rem(8);
  margin: 0 rem(2);
  background: color(light-sec);
  border-radius: rem(6);
  transition: 0.25s;
  cursor: pointer;

  &:hover {
    background: color(middle);
  }
}
