@use "../utilities" as *;

html {
  @include generate-fonts;
  @include generate-colors;
  @include screen-width;
  @include generate-breakpoints;

  scroll-behavior: smooth;
}

.container {
  width: rem(364);
  margin: 0;
  padding: rem(32);
  background: color(light);
  border-radius: rem(8);
}
